.navigation {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: var(--side-padding);
    background-color: var(--nav-bg-col);

    @media  (max-width:1500px) {
        flex-direction: column;
    }

    .logo {
        z-index: 550;
        min-width: 3rem;
        min-height: 3rem;
        transform-origin: left;

        a {
            display: inline-flex;

            img {
                max-width: 400px;
                width: 100%;
                height: auto;
            }
        }
    }


    .button-nav {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        gap: 4rem;

        @media  (max-width:600px) {
            flex-direction: column;
            margin-top: 2rem;
        }

        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            flex-direction: row;
            display: flex;
            gap: 4rem;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
    
            span {
                font-size: 2.2rem;
                text-decoration: underline;
                text-decoration-color: $rgw-color-secondary;
                text-decoration-thickness: 4px;
                white-space: nowrap;
                color: white;
            }
        } 

        .button-button {
            background-color: $rgw-color-secondary;
            padding: 1rem 2rem;
            border-radius: 5px;
            color: white;
            font-size: 2rem;
            margin-bottom: 0.7rem;

            &:hover {
                color: black;
            }

            &::before {
                background-color: $rgw-color-secondary;
            }

            a {
                &:hover {
                    color: black;
                }
            }

        }
    }
}