@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');

@use '_variables.scss';
@use '_mixins.scss';
@use '_defaults.scss';
@use '_globals.scss';

/********************
preloader
********************/
@use '_preloader.scss';

/********************
typography
********************/
@use '_typography.scss';

/********************
wordpress core
********************/
@use '_wp-core.scss';

/********************
button
********************/
@use '_buttons.scss';

/********************
blog
********************/
@use '_blog.scss';

/********************
project
********************/
@use '_projects.scss';

/********************
testimonial
********************/
@use '_testimonials.scss';

/********************
client
********************/
@use '_clients.scss';

/********************
navigation
********************/
@use '_navigation.scss';

/********************
team member
********************/
@use '_team.scss';

/********************
comments
********************/
@use '_comments.scss';

/********************
404
********************/
@use '_error.scss';

/********************
service
********************/
@use '_services.scss';

/********************
tabs
********************/
@use '_tabs.scss';

/********************
contact form
********************/
@use '_contact-form.scss';

/********************
search
********************/
@use '_search.scss';

/********************
footer
********************/
@use '_footer.scss';

/********************
video
********************/
@use '_video.scss';

/********************
artwork
********************/
@use '_artwork.scss';

/********************
sections
********************/
@use '_sections.scss';

/********************
about
********************/
@use '_about.scss';

/********************
Quote
********************/
@use '_quote.scss';


.related-posts--heading {
    margin-bottom: 3% !important;
}

/* Disable smooth scroll behavior globally */
html {
    scroll-behavior: auto !important;
  }

  body {
    background: pink !important;
  }